<p class="lead">Let's say that you are about to visit Paris for the first time. You booked your flight and hotel, found a map, and planned which museums to visit. But what should you read on the plane and on the metro?</p>

<p>What better time to read <em>A Moveable Feast</em>? This is your chance to experience the book and the city on higher level. You can read about Ernest Hemingway's exploits while you stroll the same neighborhoods as he did in the 1920s.</p>

<p><strong>BookCities</strong> suggests novels that are set in your travel destination - or helps you find books for the city you live in. If you <a href="#">sign in with Facebook</a>, you can receive book recommendations based on your tastes and those of your friends.</p>

<p>Coming soon:  book recommendations from local authors and residents, local literary lore and anecdotes, and maps to guide you through the streets, cafes, libraries that great authors have called home.</p>