<p class="lead">Let's say that you are about to visit Paris for the first time. You booked your flight and hotel, found a map, and planned which museums to visit. But what should you read on the plane and on the metro?</p>

<p>What better time to read A Moveable Feast? This is your chance to experience the book and the city on higher level. You can read about Ernest Hemingway's exploits while you stroll the same neighborhoods as he did in the 1920s.</p>

<p><strong>BookCities</strong> suggests novels that are set in the place you are visiting, or helps you find a book for whatever city you are in. If you <a href="#">sign in with Facebook,</a> you will receive book recommendations based on what you and your friends already like.</p>

<p>While you are on that trip, you can learn more about the local authors and literary scenes.</p>
