<div class="media profile">
  <a class="pull-left" href="#">
    <%= image_tag "c_gaines.png", size: '128x128', class: 'media-object' %>
  </a>
  <div class="media-body">
    <h2 class="media-heading">Welcome Charlie!</h2>
    <h4>Your favorites:</h4>
      <ul>
        <li>Crime and Punishment</li>
        <li>Collected Short Stories of Paul Bowles</li>
        <li>Ulysses</li>
      </ul>
    <h4>Recommended by you:</h4>
      <div class="rec">
        <h5>Jorge Luis Borges - Poems of the Night (Dual Language Edition)</h5>
        <p><em>"Borges is most evered for his magnificent works of fiction, Jorge Luis Borges thought of himself primarily as a poet. Poems of the Night is a moving collection of the great literary visionary's poetic meditations on nighttime, darkness, and the crepuscular world of visions and dreams."</em></p>
      </div>
    <div class="rec">
      <h5>Michael Lavocah - Tango Stories</h5>
      <p><em>"A must for those going to Buenos Aires who want to really understand Argentine culture.  Lavocah introduces the picaresque and dramatic characters who shaped tango history, telling their stories in a series of lively vignettes. If you don't dance tango now, you'll want to after reading this book."</em></p>
    </div>
  </div>
</div>



<section class="recs">
<h3>Your personalized recommendations:</h3> 
  <div class="media">
    <a class="pull-left" href="#">
      <%= image_tag "gaucho_martin.jpg", size: '128x128', class: 'media-object' %>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><em>El Gaucho Martin</em>, Jose Fernandez</h4>
      <p>Argentina's greatest poet of the 1970s tells the tales of gauchos and the pampas with typical Argentine passion and sprezzatura.</p>
    </div>
  </div>
  <div class="media">
    <a class="pull-left" href="#">
      <%= image_tag "donkey.gif", size: '128x128', class: 'media-object' %>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><em>Arabian Sands</em>, Wilfred Thesiger</h4>
      <p>One of the world's last great explorers, Thesiger tells the remarkable story of his pioneering travels in the <em>Rub al'Khalil</em>, the Empty Quarter of the Arabian desert.</p>
    </div>
  </div>

  <div class="media">
    <a class="pull-left" href="#">
      <%= image_tag "sarah_and_the_crab.jpg", size: '128x128', class: 'media-object' %>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><em>Sarah and the Crab</em>, Sarah Palin</h4>
      <p>In this riveting coming-of-age story, Sarah Palin recounts her early childhood encounter with an enormous Alaskan king crab.</p>
    </div>
  </div>
</section>
