

<div class="span9"> <!-- Hero Unit -->



          <div class="hero-unit">
            <h1>Welcome!</h1>
            <p>Are you interested in finding books related to New York?<p>

            <% if current_user.present? %>
             <p> Welcome back, <strong><%= current_user.name %></strong>!</p>
              <% else %>
                <%= link_to 'Sign in with Facebook to get started', '/auth/facebook', id: 'sign_in' %>
              <% end %>

            <div class="page-header">
              <h2>Interested in another city?</h2>
              <form class="form-search">
                <input type="text" class="input-medium search-query" placeholder="ex. San Francisco">
                <button type="submit" class="btn">Take me there.</button>
              </form>
            </div>
</div> <!-- Hero Unit -->