
<div class="span10" id="landing" class="clearfix">
<div class="span9"> <!-- Hero Unit -->



          <div class="hero-unit">
            <h1>Welcome to BiblioTravel!</h1>
              <p> You can search for books that take place in <strong>
                <script language="Javascript">
                document.write(" "+geoplugin_city()+", "+geoplugin_countryName());</script>

              </strong> or find a good book that takes place in another city.</p>

            <% if current_user.present? %>
             <p> Welcome back, <strong><%= current_user.name %></strong>!</p>
              <% else %>
                <%= link_to 'Sign in with Facebook to get started', '/auth/facebook', id: 'sign_in' %>
              <% end %>


</div> <!-- Hero Unit -->