<h3>We couldn't have done it without you.</h3>
<p>Thanks to Valerie Lisyansky and Rui Da Costa of the <em>Swarm</em> for their feedback and suggestions on the site.</p>
<p>Thanks to <em>The Alley</em>, the best co-working space in Manhattan, for giving builders the chance to build cool things.</p>
<p>Thanks to Perseus Books and all the sponsors of the Publishing Hackathon.</p>
<p>Finally, thanks to the <%= image_tag 'open-source-logo.png', size: '52x52' %> community, who spend their time building amazing tools and giving them away.  Open Source tools are awesome, you should use them!</p>