<div id="celeb">

  <h2>Nick Hornby's top 3 London novels.</h2
  <%= image_tag('hornby.jpg') %>

   <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Author</th>
        <th>Title</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Charles Dickens</td>
        <td>David Copperfield</td>
        <td>I love the minor characters.</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Charles Dickens</td>
        <td>Great Expectations</td>
        <td>Seemed boring at first but it's a real pleasure when you get into it.</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Zadie Smith</td>
        <td>White Teeth</td>
        <td>Very much hilarious.</td>
      </tr>
    </tbody>
  </table>
</div>

<div id="celeb">

<h2>Michael Bloomberg's top 3 New York novels.</h2
  <%= image_tag('bloomberg.jpg') %>

   <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Author</th>
        <th>Title</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Nicolo Machiavelli</td>
        <td>The Prince</td>
        <td>I can relate to this book. Inspiring, totally takes place here.</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jonathan Lethem</td>
        <td>Motherless Brooklyn</td>
        <td>A new tale of old New York. A must read for all these noisome hipsters.</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Thom Wolfe</td>
        <td>The Bonfire of the Vanities</td>
        <td>Ah, remeinds me of the good old 80s at Solomon Bros... But I didn't kill anyone.</td>
      </tr>
    </tbody>
  </table>
</div>