common: &common
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: 
  password:


development:
  <<: *common
  database:  bookcity_development

test:
  <<: *common
  database:  bookcity_test

production:
  <<: *common
  database:  bookcity_production