/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* HEADER */

#user_nav {
  float: right;
  padding: 0.5em 1em 0 0;
}

#logo{
  float: right;
}

/* MAIN */

#landing{

  vertical-align: top;
  float:right;
}

h1,h2,h3,h4,a.brand,p {
  font-family: 'Open Sans', serif;

}

p,th,td {
  font-size: 1.4em;
}

td, th {
  padding: 1em !important;
}

p.intro {
  padding-bottom: 1.2em;
}

section {
  margin: 2em 0 2em 0 !important;
}
/* FOOTER */



/* FORMS */



/* MISC */



