/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



@import url(http://fonts.googleapis.com/css?family=Noto+Serif);
@import url(http://fonts.googleapis.com/css?family=Domine);
// @import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$creme: #F2F1ED;
$beige: #F4E5A6;
$sans: 'Open Sans', Helvetica, sans serif;
$serif: Domine, Garamond, serif;

body{
  background-color: $beige;
}





header {
  z-index: 1;
  margin-bottom: 40px;
}

.masthead {
  padding-top:45px;
  font: {
    family: $sans;
    size: 18px;
  }
}

h1,h2,h3,h4 {
  font-family: $sans;
}

p {
  font: {
    family: $serif;
    size: 1.3em;
  }
}

.hero-unit {
  padding: 40px;
  margin {
    top: 60px;
    bottom: 40px;
  }
  width: 85%;

  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}



.frontsections {
  padding: 100px;
  margin:15px;
  margin-top: 50px;
}


.container-fluid {

  margin: 0 auto;

  padding:40px;


}

#jacket img {

}







