@import url(http://fonts.googleapis.com/css?family=Noto+Serif);
@import url(http://fonts.googleapis.com/css?family=Domine);
@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
  background-color: #f2f1ed; }

header {
  z-index: 1;
  margin-bottom: 40px; }

.masthead {
  padding-top: 45px;
  font-family: Roboto, Helvetica, sans serif;
  font-size: 18px; }

h1, h2, h3, h4 {
  font-family: Roboto, Helvetica, sans serif; }

p {
  font-family: Domine, Garamond, serif;
  font-size: 1.2em; }

.hero-unit {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 89%;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-image: url('/assets/komme.jpg');
  background-size:100%;
  background-repeat:no-repeat;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; 
  color:#FFFFFF !important;
  text-shadow: 2px 2px #000;
}

.hero-unit h1 {
  margin-bottom: 0.3em;
}

.frontsections {
  padding: 100px;
  margin: 15px;
  margin-top: 50px; }

.container-fluid {
  margin: 0 auto;

  padding: 40px; }
button {
  font-family: Roboto, Helvetica, sans serif;
  font-size: 1.1em !important;
  background-image: none;
  background-color: #2F2630 !important ;
}

.btn-custom-lighten.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-custom-lighten {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3a2f3b;
  background-image: -moz-linear-gradient(top, #2f2630, #4b3d4c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f2630), to(#4b3d4c));
  background-image: -webkit-linear-gradient(top, #2f2630, #4b3d4c);
  background-image: -o-linear-gradient(top, #2f2630, #4b3d4c);
  background-image: linear-gradient(to bottom, #2f2630, #4b3d4c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2f2630', endColorstr='#ff4b3d4c', GradientType=0);
  border-color: #4b3d4c #4b3d4c #211b22;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #4b3d4c;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-custom-lighten:hover,
.btn-custom-lighten:focus,
.btn-custom-lighten:active,
.btn-custom-lighten.active,
.btn-custom-lighten.disabled,
.btn-custom-lighten[disabled] {
  color: #ffffff;
  background-color: #4b3d4c;
  *background-color: #3d313e;
}
.btn-custom-lighten:active,
.btn-custom-lighten.active {
  background-color: #2f2630 ;
}

/*mobile sizing */

@media (max-width: 650px) {
  .hero-unit h1{
  font-size: 20px;
  }
  .hero-unit {
    line-height: 10px;
    color: WHITE;
    text-shadow: 2px 2px #0000;
  }
  .lead {
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 2px 2px #0000;
  }
  .hero-unit {
    padding: 20px;
  }
}


/* tinkering */

.search {
  text-align: center;
  margin-top: 1.5em;
}

input#search {
  margin: 0 0.6em 0 0;
}

.contact a {
  padding: 0 0.5em;
  color: #333;
  text-decoration: none;
}

.contact a:hover {
  color: #525252;
}

.masthead li {
  padding-right: 0.5em;
}



/* books#show */

.recommendations {
  margin: 2em 0;
}

.buy {
  margin-top: 1.5em;
  font-size: 1.2em;
}

.hack {
  margin-top: 6em !important;
}

/* books#index */

.book {
  margin: 3em 0;
}

.book p {
  font-size: 1.2em !important;
  /*line-height: 1.4em !important;*/
}

.book img {
  float: left;
}

.blurb {
  margin-top: 2em;
  margin-left: 15%;

}

.blurb p a {
  font-size: 1.2em;
}

#Grid .mix{
    opacity: 0;
    display: none;
}

